.cabecalho {  
  border-bottom: 1px solid var(--color-charcoal);  
  font-size: 2rem;
}

.conteudo {
  padding: 0px;
  background-color: var(--color-onyx);
}

.container-carta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1726px;
  min-height: 100vh;
  padding: 20px;
  gap: 20px;
}

.carta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-oil);
  width: 100%;
  height: auto;
  max-width: 384px;
  aspect-ratio: 1 / 1;
  padding: 20px;
  gap: 10px;
  text-decoration: none;
  box-sizing: border-box;
  transition: transform 200ms ease-out;
  border: 1px solid var(--color-charcoal);  
}

.carta:hover {
  transform: scale(1.05);
}

.carta:hover .carta-imagem {
  filter: grayscale(0);
}

.carta-imagem {
  display: block;
  width: 50%;
  filter: grayscale(1);
  object-fit: contain;
  flex: 1;
  transition: filter 200ms linear;
}

.carta-titulo {
  color: var(--color-seashell);
  font-size: 1.5rem;
}

.rodape {
  border-top: 1px solid var(--color-charcoal);  
  font-size: 1rem;
}

.cabecalho, .rodape {  
  color: var(--color-seashell);
  background-color: var(--color-oil);
  padding: 20px;
}